body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
  }

.topnav {
  display: none;
}

.topnav1 {
  max-width: 100%;
  overflow: hidden;
  background-color: #4f893e;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}

.topnav1 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
}

.topnav1 a:hover {
  background-color: #125811;
  color: rgb(255, 255, 255);
}

.topnav1 a.active {
  max-height: 30px;
  max-width: 120px;
  align-self: center;
  font-weight: bold;
  margin-left: 25px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 7px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 8px;
  margin-right: 17px;
  flex-grow: 1;
}

.toiminta {
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 0;
  margin: 30px;
  height: 200px;
  width: 500px;
  max-width: 90%;
  max-height: 90%;
}

.dropbtn {
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 20%;
  background-color: darkgreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(0, 121, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 5%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 7%;
  min-width: 160px;
  width: 100%;
  height: 75%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 100%;
  top: 0;
  line-height: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

h3 {
  margin-left: 10%;
}

p {
  line-height: 1.5;
  font-weight: 100;
  font-size: medium;
  margin-left: 10%;
  margin-right: 50%;
  margin-bottom: 0;
}

.erityinen {
  margin-right: 10%;
}

.kuvatus {
  border-radius: 3%;
  position: absolute;
  margin-left: 60%;
  width: 500px;
  height: auto;
}

  @media screen and (max-width: 1000px){

    p {
      margin-right: 20%;
    }

h2 {
  margin-left: auto;
  margin-right: auto;

}

.dropdown {
  max-width: fit-content;
}

.erityinen {
  margin-right: 50%;
  line-height: normal;
}

    .topnav1 {
      display: none;
  }
  
  .topnav {
    display: block;
  }

    .mobile-container {
      display: contents;
      max-width: 1000px;
      margin: auto;
      background-color: #555;
      height: 500px;
      color: black;
      border-radius: 10px;
    }
    


    .topnav {
      overflow: hidden;
      background-color: darkgreen;
      position: relative;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: lightgray;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 10%;
      width: 20px;
      height: 20px;
    }
    
    .topnav a.icon img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10%;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      background-color: #4f893e;
      color: white;
    }
    
  }